@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
  text-align: center;
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
  background-color: #FFE4EA;
  color: #F26A8D;
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 40px;
  color: #8B3A4A;
}

form .header {
  width: 100%;
  display: flex;
  font-size: 20px;
  margin-bottom: 20px;
  color: #ff9494;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 25px;
}

.button {
  padding: 6px 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 10px;
  font-family: 'Poppins', sans-serif;
  background-color: #E85D75;
  color: #FFFFFF;
  border-radius: 12px;
  border: 2px solid #ffe3e1;
  transition: 0.3s;
}

.button:hover {
  background-color: #F4B8C2;
  color: #7A1F2B;
  border: 2px solid #ff9494;
}

input[type="date"] {
  padding: 6px 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 10px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 10px;
  background-color: #E85D75;
  color: #FFFFFF;
  border-radius: 12px;
  border: 2px solid #ffe3e1;
}

input[type="date"]:hover {
  background-color: #F4B8C2;
  border-color: #E85D75;
  box-shadow: 0 4px 10px rgba(122, 31, 43, 0.25);
}
