@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

body {
  text-align: center;
  margin-top: 30px;
  font-family: 'Poppins', sans-serif;
  background-color: #FFE4EA;
  color: #5A2A2A;
}
#thankyou {
  font-size: 50px;
  margin-bottom: 20px;
  color: #F26A8D;
}
.valentine-gif {
  width: 260px;     /* change if needed */
  max-width: 80%;
  display: block;
  margin: 20px auto;
  border-radius: 16px;
}
.button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
  margin: 10px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
  background-color: #E85D75;
  color: #FFFFFF;
  border-radius: 12px;
  border: 2px solid #ffe3e1;
  box-shadow: 1px 1px 2px #ff9494;
  transition: 0.3s;
}

.button:hover {
  background-color: #F4B8C2;
  color: #7A1F2B;
  border: 2px solid #ff9494;
  box-shadow: 1px 1px 2px #ffe3e1;
}
